body{
  background-image: url(http://dl5.weshineapp.com/gif/20200619/b82b9adf2bd01ae9539e5df5186b14b1.gif),url(https://i.pinimg.com/564x/d5/88/f2/d588f2c53fc31e77da8bcdabbadb7528.jpg);
  background-size:100px,cover;
  background-position:center bottom,center top;
  background-repeat:no-repeat,no-repeat ;
  background-attachment: fixed;
}
.word{
  color: #ffffff;

  font-size: x-large;
  text-align: center;
  line-height: 2em;
  font-family: 'Allison', cursive;
  columns:2;
  word-spacing: 0.2px;
  letter-spacing: 2px;
}
.hi{
  width: 100px;
  height: 100px;
  text-align: center;
  font-size:50px;
  font-weight: bold;
  line-height:100px;
  font-family:'Yanone Kaffeesatz', sans-serif;;
  opacity: 0.8;
  color: #ffffff;
  background-color: #BF8578;
  border-radius: 50%;
  border-top-left-radius:0 ;
  border:solid 5px #ffffff


  


  


}