nav {
  border-bottom: solid 1px;
}
.A1 {
  width: 100%;
  text-align: right;
  position: fixed;
  right: 0%;
  top: 0%;
  background-color:#91bae9;
}
.a {
  margin: 5px;
  padding: 1em 0;
  display: inline-block;
}

.b {
  width: 100%;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
}
.c {
  display: inline;
}
.d {
  margin: 0%;
  display: inline-block;
}
.p1 {
  width: 30%;
  display: inline-block;
  vertical-align: baseline;
}
.i1 {
  width: 30%;
  display: inline-block;
  vertical-align: baseline;
}
.e {
  border-bottom: dashed 1px black;
  padding-bottom: 10px;
}
.hi {
  height: 100%;
  overflow: auto;
  padding: 10px 0px 0px 0px;
}
.hii {
  padding: 10px 30px 0px 30px;
  max-width: 1024px;
  margin: auto;
}
.hi1 {
  height: 100%;
  margin-top: 50px;
  overflow: auto;
  padding: 10px 0px 0px 0px;
}
