body {
 background:#004d84; 
 max-width: 1024px;
 margin: auto;
}
.header{
  background: rgba(255,255,255,.8);
  text-align: right;
  color: white;  
  width: 100%;
  padding: 5px;
  position: fixed;
  right: 0%;
  top: 0%;
}
.a{
  margin: 5px;
}
.about{
  width: 100%;
  height: 100vh;
}
.aboutimg{
  width: 100%;
}
.order{
  background: white;
  width: 100%;
  height: 100vh;

}
.order1{
  padding:25% 10%;
}
.order2{
  width: 30%;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 10vw;

}
.orderimg{
  width: 30%;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 5vw;
}
.orderh2{
  margin:0px;
  text-align: justify;
  color: #004d84;
}
.orderp{
  margin-top: 5px;
  text-align:justify;
  color:#303030;
  height: 30%;
  overflow: auto;
}
.animal{
  background: white;
  width: 100%;
  height: 100%;
  padding:10% 0%  ;

}
.art0{
  width: 10%;
  display: inline-block;
  vertical-align:middle;
}
.whaleart{
  width: 18%;
  display: inline-block;
  vertical-align:baseline;
  margin:0% 1%;

}
.whaleimg{
width: 100%;
vertical-align: baseline;
}
.whaleh2{
  vertical-align:bottom;
  margin-bottom: 0%;
  color: #004d84;
}
.whalep{
height: 30%;
overflow:auto;
text-align: justify;
margin-top:2px;

}
.turtleart{
  width: 18%;
  display: inline-block;
  vertical-align:baseline;
  margin:0% 1%;
}
.turtleimg{
width: 100%;
display: inline-block;
vertical-align: baseline;
}
.turtleh2{
  margin-bottom: 0%;
  color: #004d84;
}
.turtlep{
  height: 30%;
  overflow:auto;
  text-align: justify;
  margin-top:2px;
}
.Penguinart{
  width: 18%;
  display: inline-block;
  vertical-align:baseline;
  margin:0% 1%;
}
.Penguinimg{
  width: 100%;
  display: inline-block;
  vertical-align: baseline;
}
.Penguinh2{
  margin-bottom: 0%;
  color: #004d84;
}
.Penguinp{
  height: 30%;
  overflow:auto;
  text-align: justify;
  margin-top:2px;
}
.bearart{
  width: 18%;
  display: inline-block;
  vertical-align:baseline;
  margin:0% 1%;
}
.bearimg{
  width: 100%;
  display: inline-block;
  vertical-align: baseline;
}
.bearh2{
  margin-bottom: 0%;
  color: #004d84;
}
.bearp{
  height: 30%;
  overflow:auto;
  text-align: justify;
  margin-top:2px;
}